@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #F9EFE5;
}

main {
  min-height: 60vh;
  padding-left: 16%;
  padding-right: 16%;
  background-color: white;
  padding-top:1rem;
  padding-bottom:3rem;
}